## مباحث اتصال

In [1]:
import mysql.connector

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="10401040",

)
mycursor = mydb.cursor()

In [9]:

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)
('tarbiatmodares',)

In [10]:
mycursor.execute("CREATE DATABASE test1")

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="10401040",
  database="test1"

)
mycursor = mydb.cursor()

In [11]:
sql = "DROP TABLE users"

mycursor.execute(sql)

## ایجاد جداول و ریختن داده ها

In [12]:
mycursor.execute("CREATE TABLE users (ID int NOT NULL,name varchar(255) NOT NULL,fav varchar(255) ,PRIMARY KEY (name));")

In [13]:
sql = "INSERT INTO users (ID, name, fav) VALUES (%s, %s, %s)"

val = [
  ('1','Mohammad Mahdi', '145'),
  ('2','Sanaz', '700'),
  ('3','Mehran', '700'),
  ('4','Ali', '129'),
  ('5','Hamed', '1000000'),
  ('6','Sara',""),
  ('7','Asghar',"")
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

7 was inserted.

In [15]:
mycursor.execute("CREATE TABLE products(ID int NOT NULL,name varchar(255) NOT NULL,PRIMARY KEY (ID));")

In [16]:
sql = "INSERT INTO products (ID, name) VALUES (%s, %s)"

val = [
  ('1000000','Xbox'),
  ('700','PlayStation'),
  ('129','Iphone'),
  ('100','IMac'),
  ('329','TV'),
  ('145','Laptop'),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

6 was inserted.

## دستور اتصال از چپ -> Left Join 


به عنوان مثال میگیم نام محصولات مورد علاقه کاربران به کاربران و محصولات بچسبند

In [14]:

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ali', 'Iphone')
('Hamed', 'Xbox')
('Mehran', 'PlayStation')
('Mohammad Mahdi', 'Laptop')
('Sanaz', 'PlayStation')

##### در خروجی بالا اسمی از سارا و اصغر که هیچ کالای مورد علاقه ایی نداشتن نیومده برای نشون داده اونا میایم از دستور اتصال از چپ استفاده میکنیم

In [16]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"
  
  

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ali', 'Iphone')
('Asghar', None)
('Hamed', 'Xbox')
('Mehran', 'PlayStation')
('Mohammad Mahdi', 'Laptop')
('Sanaz', 'PlayStation')
('Sara', None)

##### همان گونه که قابل مشاهده است خروجی این دستور شامل تمامی یوزر ها با تفاوت اینکه دو یوزری که کالای مورد علاقه ندارن به صورت خالی برگشته است -> (None, Null)

('Asghar', None)

('Sara', None)

## دستور اتصال از راست -> Right Join

گر می‌خواهید همه محصولات را فراخوانی کنید، و کاربرانی که آنها را به عنوان مورد علاقه خود دارند، حتی اگر هیچ کاربری به آن محصولات علاقه نشان نداده فراخوانی شود از این دستور استفاده میکنیم

In [19]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"
  


mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(None, 'IMac')
('Ali', 'Iphone')
('Mohammad Mahdi', 'Laptop')
(None, 'TV')
('Sanaz', 'PlayStation')
('Mehran', 'PlayStation')
('Hamed', 'Xbox')

همان گونه که مشخص است دستور اتصال از راست کالاهایی که هیچ کاربری به آن ابراز علاقه نکرده هم فراخوانی شده است


(None, 'TV')

(None, 'IMac')